* {
  font-family: var(--u-font-family);
}
:root {
  --page-margin-vertical: 20px;
  --page-margin-horizontal: 50px;
}
body {
  margin: 0;
}
@page {
  margin-top: var(--page-margin-vertical);
  margin-bottom: var(--page-margin-vertical);
}
@page :first {
  margin-top: 0mm;
}
.u-view {
  width: 100%;
  box-sizing: border-box;
  line-height: var(--u-line-height);
}
.u-view h1,
.u-view h2,
.u-view h3,
.u-view h4,
.u-view h5,
.u-view h6,
.u-view ul,
.u-view ol,
.u-view p {
  margin: 0 var(--page-margin-horizontal);
  box-sizing: border-box;
}
.u-view h1 {
  font-weight: 900;
}
.u-view h2 {
  font-weight: 700;
}
.u-view h3 {
  font-weight: 600;
}
.u-view h4,
.u-view h5,
.u-view h6 {
  font-weight: 500;
}
.u-view code {
  padding: 3px 6px;
  display: inline-block;
  color: #333;
  border-radius: 4px;
  margin-right: 2px;
  background-color: rgba(27, 31, 35, 0.05);
  word-break: break-all;
  font-size: 12px;
  line-height: 1.5;
}
.u-view img {
  max-width: 400px;
}
.u-view a {
  color: var(--text-color, #747474);
  text-decoration: none;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
}
.u-view a:hover,
.u-view a:focus,
.u-view a:active {
  color: var(--text-color, #747474);
  text-decoration: none;
  outline: 0;
}
.u-view p {
  color: var(--text-color, #747474);
}
.u-view ul,
.u-view ol {
  padding-left: 1.3em;
  overflow: hidden;
}
.u-view ul li {
  list-style-type: square;
  list-style-position: outside;
}
.u-view ol li {
  list-style: decimal inside;
  list-style-position: outside;
}
.u-view li {
  color: var(--text-color, #747474);
}
.u-view .lr-container {
  display: flex;
}
.u-view .left {
  flex: auto;
  text-align: left;
}
.u-view .right {
  flex: auto;
  text-align: right;
}
.u-view .center {
  flex: auto;
  text-align: center;
}
.u-view .iconify-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: inherit;
  vertical-align: -0.2em;
  fill: currentColor;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
}
