.u-view {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
.u-view h1,
.u-view h2,
.u-view h3,
.u-view h4,
.u-view h5,
.u-view h6,
.u-view ul,
.u-view ol,
.u-view li,
.u-view p {
  margin: 0;
  box-sizing: border-box;
}
.u-view h1 {
  font-weight: 900;
}
.u-view h2 {
  font-weight: 700;
}
.u-view h3 {
  font-weight: 600;
}
.u-view h4,
.u-view h5,
.u-view h6 {
  font-weight: 500;
}
.u-view code {
  padding: 3px 6px;
  display: inline-block;
  color: #333;
  border-radius: 4px;
  margin-right: 2px;
  background-color: rgba(27, 31, 35, 0.05);
  word-break: break-all;
  font-size: 12px;
  line-height: 1.5;
}
.u-view img {
  max-width: 400px;
}
.u-view a {
  color: #747474;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
}
.u-view a:hover,
.u-view a:focus,
.u-view a:active {
  color: #747474;
  text-decoration: none;
  outline: 0;
}
.u-view p {
  color: #747474;
}
.u-view ul,
.u-view ol {
  padding-left: 1.3em;
  overflow: hidden;
}
.u-view ul li {
  list-style-type: square;
  list-style-position: outside;
}
.u-view ol li {
  list-style: decimal inside;
  list-style-position: outside;
}
.u-view li {
  color: #747474;
}
.u-view .lr-container {
  display: flex;
}
.u-view .left {
  flex: auto;
  text-align: left;
}
.u-view .right {
  flex: auto;
  text-align: right;
}
.u-view .center {
  flex: auto;
  text-align: center;
}
