@import './global.scss';

:root {
  --text-color: #747474;
}

.u-view {
  color: #ffffff;
  .h-block:not(.h1-block) {
    color: rgba(0, 0, 0, 0.85);
    background-color: #ffffff;
  }

  .h1-block {
    padding-top: 10px;
    color: #ffffff;
    background-color: var(--u-theme);
  }

  .lr-container {
    padding-top: 10px;
    padding-bottom: 20px;
    p {
      color: #ffffff;
    }
  }

  a {
    color: #ffffff;
    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
    }
  }

  h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 20px;
    color: var(--u-theme);
    border-bottom: 1px solid var(--u-theme);
  }

  h3 {
    font-size: 14px;
  }

  h2,
  h3 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  p,
  li {
    font-size: 13px;
  }
}
