@import './global.scss';

:root {
  --text-color: #747474;
}

.u-view {
  .h1-block {
    padding-top: 10px;
    color: #ffffff;
    background-color: var(--u-theme);
  }

  .lr-container {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .h1-block,
  .lr-container {
    a {
      color: #ffffff;
      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
      }
    }
    p {
      color: #ffffff;
    }
  }

  h1 {
    font-size: 30px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ffffff;
  }

  h2 {
    font-size: 20px;
    color: var(--u-theme);
    border-bottom: 1px solid var(--u-theme);
  }

  h3 {
    font-size: 14px;
  }

  h2,
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p,
  li {
    font-size: 13px;
  }
}
