@import './global.scss';

:root {
  --text-color: #747474;
}

.u-view {
  padding-top: var(--page-margin-vertical);

  .lr-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 20px;
    color: var(--u-theme);
    border-bottom: 1px solid var(--u-theme);
  }

  h3 {
    font-size: 14px;
  }

  h2,
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p,
  li {
    font-size: 13px;
  }
}
